<!-- HTML 5 Ad Template from DoubleClick by Google // modified for TruEffect -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= bannerName %></title>
    <meta name="ad.size" content="width=<%= actualBannerWidth %>,height=<%= actualBannerHeight %>">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
    #container_ad {
        z-index: 20;
    }
    button {
        background: none;
        outline: 0;
        border: 0;
     }
    </style>
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- This is the TruEffect clickThru javascript -->
    <script type="text/javascript" src="https://ad.adlegend.com/cdn/trueffect/te_html.min.js"></script>

    <script language="javascript">

    function _politeLoad(urls, onComplete) {
        var l = urls.length,
            loaded = 0,
            checkProgress = function() {
                if (++loaded === l && onComplete) {
                    onComplete();
                }
            },
            i;
        for (i = 0; i < l; i++) {
            _loadScript(urls[i], checkProgress);
        }
    }

    function _loadScript(url, callback){

        var script = document.createElement("script")
        script.type = "text/javascript";

        if (script.readyState){  //IE
            script.onreadystatechange = function(){
                if (script.readyState == "loaded" ||
                        script.readyState == "complete"){
                    script.onreadystatechange = null;
                    callback();
                }
            };
        } else {  //Others
            script.onload = function(){
                callback();
            };
        }

        script.src = url;
        document.getElementsByTagName("head")[0].appendChild(script);
    }

    function pageLoadedHandler() {
        // Now that the ad is actual in a visible area, let's start this party.

        /*
        http://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/plugins/CSSPlugin.min.js
        You can import files anyway you want, like from the Greensock CDN
		https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenLite.min.js
		https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TimelineLite.min.js
		https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/easing/EasePack.min.js
		https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/plugins/CSSPlugin.min.js

        Google now hosts a copy of TweenMax. We use it only on Google served ads though.
        https://s0.2mdn.net/ads/studio/cached_libs/tweenmax_1.20.0_d360d9a082ccc13b1a1a9b153f86b378_min.js

        What are the other Google hosted libraries? See here:
        https://support.google.com/richmedia/answer/6307288?hl=en

        PreloadJS from the CreateJS is a common one we use:
        https://s0.2mdn.net/ads/studio/cached_libs/preloadjs_0.6.2_d7b96570d4552592ae479162e546cb25_min.js

        */

        //now you can just feed stuff into that one function and give it a callback...
        _politeLoad(['https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js',
            'script.js'
        ], function() {
            console.log('ready');
            bannerInit();
        });
    }
    </script>
</head>

<body onload="pageLoadedHandler();">
    <div id="container_ad">
        <div id="content_ad">
            <!-- Your banner ad content goes here -->
            <div id="hd1">Headline One</div>
            <div id="hd2">More words here.</div>
            <div id="hd3">Yet more words.</div>
        </div>
        <button id="background_exit_ad"></button>
    </div>
    <script type="text/javascript">
        document.getElementById("background_exit_ad").onclick = function() {
            te_html.click('clickTAG','http://example.com');
        }
    </script>
</body>

</html>
