<!-- HTML 5 Ad Template from DoubleClick by Google but has been modified -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Studio Enabler Required -->
    <!-- this was updated to work on http or https by removing the protocal entirely -->


   <!--
    For offline use;
    <script src="../offline/Enabler.js" type="text/javascript"></script>

     -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="//s0.2mdn.net/ads/studio/Enabler.js"></script>
    <style type="text/css">
    #container_ad {
        display: none;
        z-index: 20;
    }
    button {
        background: none;
        outline: 0;
        border: 0;
     }
    </style>
    <script language="javascript">
    // Initialize Enabler - DoubleClick referrs to this as the most
    // important piece of code in your banner. If it's not here
    // you don't have a DoubleClick ad
    window.onload = function() {
        if (Enabler.isInitialized()) {
            init();
        } else {
            Enabler.addEventListener(studio.events.StudioEvent.INIT, init);
        }
    }
    // init() will only be run once the Enabler is initialized
    function init() {
        // Enabler provides ways for us to check status of the page
        // First, we'll check to be sure the page is loadedd
        if (Enabler.isPageLoaded()) {
            // the page is loaded, now call the page load handler
            pageLoadedHandler();
        } else {
            Enabler.addEventListener(studio.events.StudioEvent.PAGE_LOADED, pageLoadedHandler);
        }
    }

    function pageLoadedHandler() {
        // we only want to run the ad if it's visible to the user
        // and the Enabler let's us check if it is visible with the
        // Enabler.isVisible property
        if (Enabler.isVisible()) {
            adVisibilityHandler();
        } else {
            Enabler.addEventListener(studio.events.StudioEvent.VISIBLE,
                adVisibilityHandler);
        }
    }

    // This _politeLoad function will load any number of
    // JS files using the Enabler's built in loadScript
    // function then it will issue a call back when done
    // Where did it come from?
    // http://greensock.com/forums/topic/12147-polite-loading-gsap-into-a-dc-html5-banner/
    //
    function _politeLoad(urls, onComplete) {
        var l = urls.length,
            loaded = 0,
            checkProgress = function() {
                if (++loaded === l && onComplete) {
                    onComplete();
                }
            },
            i;
        for (i = 0; i < l; i++) {
            Enabler.loadScript(urls[i], checkProgress);
        }
    }

    function adVisibilityHandler() {
    	// The ad is actual in a visible area, now we can
        // finally start the banner

        /*

        You can import files anyway you want, like from the Greensock CDN
        http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/plugins/CSSPlugin.min.js
        http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TimelineLite.min.js
        http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/easing/EasePack.min.js
        http://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenLite.min.js

        Google now hosts a copy of TweenMax, so we now use that instead.
        https://s0.2mdn.net/ads/studio/cached_libs/tweenmax_1.18.0_499ba64a23378545748ff12d372e59e9_min.js

        What are the other Google hosted libraries? See here:
        https://support.google.com/richmedia/answer/6307288?hl=en

        PreloadJS from the CreateJS is a common one we use:
        https://s0.2mdn.net/ads/studio/cached_libs/preloadjs_0.6.2_d7b96570d4552592ae479162e546cb25_min.js
        */

        // we'll feed these into the _politeLoad helper function
        // and give it a callback, bannerInit which lives in the script.js file
        _politeLoad(['https://s0.2mdn.net/ads/studio/cached_libs/tweenmax_1.18.0_499ba64a23378545748ff12d372e59e9_min.js',
            'script.js'
        ], function() {
            console.log('Banner is ready to be initialized.');
            bannerInit();
        });

        // Load in CSS
        var extCSS = document.createElement('link');
        extCSS.setAttribute("rel", "stylesheet");
        extCSS.setAttribute("type", "text/css");
        extCSS.setAttribute("href", Enabler.getUrl("style.css"));
        document.getElementsByTagName("head")[0].appendChild(extCSS);

        // The ad lives in the container_ad div. At the top of this
        // page, it was made invisible, now we can change the opacity
        // to 100% and be sure it's set to display as a block level element
        document.getElementById("container_ad").style.opacity = 1;
        document.getElementById("container_ad").style.display = "block";
    }
    </script>
</head>

<body>
    <div id="container_ad">
        <div id="content_ad">
            <!-- Your banner ad content goes here -->
            <div id="hd1">Headline One</div>
            <div id="hd2">More words here.</div>
            <div id="hd3">Yet more words.</div>
        </div>
        <button id="background_exit_ad"></button>
    </div>
</body>

</html>
