@charset "UTF-8";
/* CSS Document */ 

$bannerBackColor: #6699cc;

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    text-rendering: optimizeLegibility;
}

/* Default style, feel free to remove if not needed. */
body, body * {
	vertical-align: baseline;
	border: 0;
	outline: 0;
	padding: 0;
	margin: 0;
	font: 100%/1.5 Arial, sans-serif;
}

/* Div layer for the entire banner. */
#container_ad {
  transform-origin: 0% 0%;;

	position: absolute;
    // width and height are 2px less than the expected 
    // size to accommodate the 1px border on the ad
	width: <%= bannerWidth %>px;
	height: <%= bannerHeight %>px;
    overflow: hidden;
	border:1px solid #666666;
	top: 0px;
	left: 0px;
	margin: auto;

    // these are only useful in rare circumstances
    // so they are commented out
    // 
    // -webkit-transform : translateZ(0);
    // -o-transform : translateZ(0);
    // -moz-transform : translateZ(0);
    // transform : translateZ(0);

    // -webkit-backface-visibility: hidden;
    // -moz-backface-visibility: hidden;
    // -ms-backface-visibility: hidden;
    // 
    // Alternately, you might find the 'will-change'
    // proptery useful instead. See this link for more info:
    // https://dev.opera.com/articles/css-will-change-property/
    // 
    // will-change: transform, opacity;
}

#content_ad {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 100;
	background: $bannerBackColor; // url(background.jpg);
    // If you put a single sprite sheet into all of your
    // div tags, you can effeciently set the background 
    // image of all child divs with this rule below.
    // You will need to set the background position,
    // width and height on the individual divs.
    // 
    // div {
    //     opacity: 0;
    //     position: absolute;
    //     background-image: url('sprite.png');
    //     background-repeat: no-repeat;
    //     background-size: 000px 000px;
    // }
}



// Remove this sample rule
#remove-me {
  position: relative;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
  color: white;
} 



/* Invisible button for background clickthrough.
  The background url here is a hack to get around a stacking order
  bug in Windows 8 IE10. For deatils see:
  http://stackoverflow.com/questions/6914822/absolute-positioned-anchor-tag-with-no-text-not-clickable-in-ie
*/
#background_exit_ad {
  background: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7") 0 0 repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: pointer;
  z-index: 400;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}